<div class="comment-respond">
    <h4 class="title">Post a comment</h4>
    <form action="#">
        <p class="comment-notes">
            <span id="email-notes">
                Your email address will not be
                published.
            </span> Required fields are marked <span class="required">*</span>
        </p>
        <div class="row row--10">
            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group">

                    <input id="name" type="text">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group">
                    <label for="email">Your Email</label>
                    <input id="email" type="email">
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-12">
                <div class="form-group">
                    <label for="website">Your Website</label>
                    <input id="website" type="text">
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <label for="message">Leave a Reply</label>
                    <textarea id="message" name="message"></textarea>
                </div>
            </div>
            <div class="col-lg-12">
                <p class="comment-form-cookies-consent">
                    <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
                    <label for="wp-comment-cookies-consent">
                        Save my name, email, and
                        website in this browser for the next time I comment.
                    </label>
                </p>
            </div>
            <div class="col-lg-12">
                <div class="form-submit cerchio">
                    <input name="submit" type="submit" id="submit" class="axil-button button-rounded" value="Post Comment">
                </div>
            </div>
        </div>
    </form>
</div>